/**
*	Padding
*/
.p0{
	padding: 0;
}
.pl0{
	padding-left: 0;
}
.pr0{
	padding-right: 0;
}
.p7{
	padding: 7px;
}
.p6{
	padding: 6px;
}
.pt7{
	padding-top: 7px;
}
.pt6{
	padding-top: 6px;
}
.pt10{
	padding-top: 10px;
}
/**
*	Margin
*/

.m0{
	margin: 0;
}
.m50{
	margin: 50px;
}

.ml0{
	margin-left: 0;
}
.ml15{
	margin-left: 15px;
}
.ml-15{
	margin-left: -15px;
}

.mr-15{
	margin-right: -15px;
}

.mt0{
	margin-top: 0;
}
.mt1{
	margin-top: 1px;
}
.mt10{
	margin-top: 10px;
}
.mt30{
	margin-top: 30px;
}
.mt50{
	margin-top: 50px;
}
.mt90{
	margin-top: 90px;
}

.mb0{
	margin-bottom: 0;
}
.mb10{
	margin-bottom: 10px;
}
.mb20{
	margin-bottom: 20px;
}
.mb50{
	margin-bottom: 50px;
}



/**
*	Width
*/
.w100p{
	width: 100%;
}
.w-col-7{
	width: 14.28571428571429%;
}

/* ==========================================================================
   Font
   ========================================================================== */
.ttu{
	text-transform: uppercase;
}
.nttu{
	text-transform: none;
}

/* ==========================================================================
   Display
   ========================================================================== */

.dtr{
	display: table-row;
}
.dtc{
	display: table-cell;
}
.dt{
	display: table;
}
