/* ==========================================================================
   Media Queries
   ========================================================================== */

@media(min-width: 1201px) {
	
}

@media (max-width: 1200px) {
	aside.sidebar > section.widget.widget_nav_menu:first-child > ul.menu li>a{
      padding-left: 0px;
      padding-right: 10px;
   }
}

@media (max-width: 991px) {
   aside.sidebar > section.widget.widget_nav_menu:first-child > ul.menu li>a{
      padding-left: 0px;
      padding-right: 0px;
   }
   .sidebar .menu:first-child li{
      padding-left: 6px;
   }
   .sidebar .menu ul{
      padding-left: 30px;
   }
   h2>small{
      float: none !important;
      padding-bottom: 0;
      display: block;
      font-size: 12px;
   }
   #footer_ecke{
      display: none;
   }
   #footer_ecke_small{
      display: block;
   }
   body{
     /* background: none;*/
     background-position: 0 155px;
   }
    .slider_overlay{
    background-image: url("../img/slider_welle_small.png");
    height: 113px;
    width: 223px;
   }
   .brand_logo{
      width: 108px;
   }
}

@media (max-width: 768px) {
  .widget.widget_recent_entries ul{
    margin-bottom: 0;
  }
  #mobile_nav, #full_right_content_mobile{
    display: block;
  }
  body{
    margin-top: 0;
    margin-bottom: 0;
    background-image: none;
  }

  .slider_overlay, #lang_select, #prim_navi, #full_right_content, #footer_ecke_small{
    display: none;
  }
  .content{
    padding: 0;
  }
  #full_left_content{
    padding-right: 0;
  }
  #wrapper > .row{
    margin-right: 0;
    margin-left: 0;
  }

  #wrapper{
    background-image: none;
    padding-right: 15px;
  }
  h2{
    font-size: 20px;
  }
}

@media (max-width: 680px) {
	
}

@media (max-width: 550px) {
	.navbar-brand{
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .navbar-brand{
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .navbar-brand > span{
    display: none;
  }
}

/* 
   Bootstrap toggle menu overlay fix
   ========================================================================== */



@media (max-width: 979px) {
  .navbar-fixed-top.navbar-absolute {
    position: absolute;
    margin: 0;
  }
}

.navbar-absolute + div {
    margin-top: 68px;
}