/* ==========================================================================
   General
   ========================================================================== */

   body{
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Droid Sans', sans-serif;
    height: 100%;
    background-image: url("../img/top_blue_bg.gif");
    background-position: 0px 207px;
    background-repeat: repeat-x;
  }
  h1, h2, h3{
    color: #4A6A8F;
  }
  h2>small{
    float: right
  }
  h1{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }
  a:link,
  a:visited,
  a:focus{
    color:#7EAECC;
  }

  .wrap.container{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.2);
  }

  .content{
    padding: 20px 40px 40px 45px;
    min-height: 400px;
  }

  aside{
    background-color: #BFD8E6;
  }
  .entry-summary img, .entry-content img{
    width: 100%;
    height: 100%;
  }
/* ==========================================================================
   Header
   ========================================================================== */
   .slider_overlay{
    background-image: url("../img/slider_welle.png");
    background-repeat: no-repeat;
    height: 165px;
    width: 325px;
    position: absolute;
    z-index: 1111;
   }
   .widget_mqtranslate > ul{
    list-style: none;
    padding-left: 0;
  }
  .widget_mqtranslate li{
    display: inline-block;
    padding:0 0 0 10px;
  }
  header ul{
    margin-bottom: 3px;
  }
/* 
   Top-Navi
   ========================================================================== */

   #menu-primaere-navigation, #menu-sidebar-menu{
    list-style: none;
    padding-left: 0;
    font-size: 14px;
    margin-bottom: 0;
  }

  #prim_navi{
    background-color: #4A6A8F;
  }

  #menu-sidebar-menu{
    background-color: #7EAECC;
  }

  #menu-primaere-navigation li, #menu-sidebar-menu li{
    display: inline-block; 
    text-transform: uppercase;
    
  }
  #menu-primaere-navigation li > a, #menu-sidebar-menu li>a{
    padding: 10px 15px;
    color: white;
    display: inline-block;
  }

  #menu-primaere-navigation li > a:hover,
  #menu-sidebar-menu li>a:hover{
    text-decoration: none;
  }

  #menu-primaere-navigation li > a:hover,
  #menu-primaere-navigation li.active > a 
  {
    color: #7EAECC;
  }

  #menu-sidebar-menu li>a:hover, 
  #menu-sidebar-menu li.active >a{
    color:#4A6A8F;
  }
  .nav_menu-2{
    border-left: 1px solid white;
  }
  /* 
     Slider
     ========================================================================== */
  .huge_it_slideshow_dots_container_1{
    display: none !important;
  }
  
  
/* ==========================================================================
   Sidebar
   ========================================================================== */
  .sidebar h3{
    text-transform: uppercase;
    font-size:12px;
    padding-left: 25px;
  }
  .sidebar ul{
    font-size: 12px;
  }
  .sidebar li{
    background-image: url("../img/pfeil.gif");
    background-repeat: no-repeat;
    padding-left: 20px;
    list-style: none;
    margin: 0;
  }
  .sidebar a{
    color: #474747;
    display: inline-block;
  }

.sidebar > section:nth-child(2) > h3{
  background-image: url("../img/pfeil_nav.gif");
  background-repeat: no-repeat;
  line-height: 16px;
}
.sidebar > section:nth-child(1) li{
  background-image: none;
}


  /* ==========================================================================
     Footer
     ========================================================================== */
  footer{
    background-color: #4A6A8F;
    color: white;
    font-size: 10px;
    line-height: 33px;
  }

#footer_ecke, #footer_ecke_small{
  position: absolute;
  margin-top: -78px;
  right: -22px;
}
  
  #footer_ecke_small{
    display: none;
  right: -21px;
  }
  